<table width="100%" cellpadding="0" cellspacing="0" style="padding:0;margin:0;font-family:Helvetica,Arial,sans-serif">
	<tr>
		<td style="font-size:0"><span></span></td>
		<td valign="top" align="left" style="width:640px;max-width:640px">
			<table width="100%" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" style="padding:0;margin:0;border:0">
				<tr>
					<td align="center" style="padding:32px 63px 0 63px">
						<a href="{{ appUrl }}" target="_blank">
							<img alt="{{ appName }} - Logo" src="{{ appUrl }}/assets/imgs/logo.png" width="150" />
						</a>
						<h1 style="font-family:Helvetica,Arial,sans-serif;font-size:24px;line-height:31px;color:#5c4ec3;padding:0;margin:28px 0 32px 0;font-weight:700;text-decoration:none">
							<span style="display:block">Código de Confirmação</span>
						</h1>
						<p style="font-size:16px;line-height:20px;color:#5c4ec3;padding:0;margin:0 0 20px 0;font-family:Helvetica,Arial,sans-serif">
							Use o código a baixo para validar seu email<br />
						</p>
						<h1 style="font-family:Helvetica,Arial,sans-serif;font-size:24px;line-height:31px;color:#5c4ec3;padding:0;margin:28px 0 32px 0;font-weight:700;text-decoration:none">
							<span style="display:block">{{ code }}</span>
						</h1>

						<div style="border:1px solid #ccc;padding:10px">
							<p style="font-family:Helvetica,Arial,sans-serif;font-size:12px;line-height:20px;color:#666666;padding:0">
								Em caso de dúvidas envie e-mail para <a href="mailto:sac@atmuspay.com.br" target="_blank">sac@atmuspay.com.br</a>
								ou chat de atendimento de segunda a sexta das 09:00 às 17:00 (exceto feriados)
							</p>
						</div>

						<p style="font-family:Helvetica,Arial,sans-serif;font-size:12px;line-height:20px;color:#777777;padding:0;margin:33px 0 20px 0">
							Esse e-mail é enviado automaticamente, por favor não responda.
						</p>
					</td>
				</tr>
			</table>
		</td>
		<td style="font-size:0"><span></span></td>
	</tr>
</table>
