<table width="100%" cellpadding="0" cellspacing="0" style="padding: 0; margin: 0">
	<tr>
		<td style="font-size:0"><span></span></td>
		<td valign="top" align="left" style="width: 640px; max-width: 640px">
			<table width="100%" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" style="padding: 0; margin: 0; border: 0">
				<tr>
					<td align="center" style="padding:32px 63px 0 63px">
						<a href="{{ appUrl }}" target="_blank">
							<img alt="{{ appName }} - Logo" src="{{ appUrl }}/assets/imgs/logo.png" width="150" />
						</a>
						<h1 style="font-family:Helvetica,Arial,sans-serif;font-size:24px;line-height:31px;color:#5c4ec3;padding:0;margin:28px 0 32px 0;font-weight:700;text-decoration:none">
							<span style="display:block">
								Recuperação de acesso<br /><br />
								Olá, {{ fullName }}!
							</span>
						</h1>
						<p style="font-size:16px;line-height:20px;color:#5c4ec3;padding:0;margin:0 0 20px 0;font-family:Helvetica,Arial,sans-serif">
							Você solicitou a redefinição da sua senha de acesso. Clique botão abaixo para realizar a alteração:<br />
						</p>
						<table cellpadding="0" cellspacing="0" style="padding:0;margin:0;border:0;width:213px">
							<tr>
								<td valign="top" align="center" style="border-radius:3px;padding:12px 20px 16px 20px;background-color:#00b2b2">
									<a href="{{ appUrl }}/recuperar-senha?token={{ token }}" style="font-family:Helvetica,Arial,sans-serif;font-size:16px;color:#ffffff;background-color:#00b2b2;border-radius:3px;text-align:center;text-decoration:none;display:block;margin:0" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://app.bankon.com.br/redefinir/49ad54a343c7457d30f76b9d16d679b9bda54127c90689d76705c0e4b1b43a24&amp;source=gmail&amp;ust=1652368829412000&amp;usg=AOvVaw0pWYfJw6KxDVYmunhtgsWn">
										Redefinir senha
									</a>
								</td>
							</tr>
						</table>
						<p style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:20px;color:#5c4ec3;padding:0;margin:33px 0 20px 0">
							Ou copie e cole o link abaixo no seu navegador
						</p>
						<p style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:20px;color:#5c4ec3;padding:0;margin:0 0 20px 0">
							<a href="{{ appUrl }}/recuperar-senha?token={{ token }}" style="font-size:16px;line-height:20px;color:#777777;text-decoration:none;overflow:hidden;text-overflow:ellipsis;word-wrap:break-word;word-break:break-all" target="_blank">
								{{ appUrl }}/recuperar-senha?token={{ token }}
							</a>
						</p>

						<div style="border:1px solid #ccc;padding:10px">
							<p style="font-family:Helvetica,Arial,sans-serif;font-size:12px;line-height:20px;color:#666666;padding:0">
								Em caso de dúvidas envie e-mail para <a href="mailto:sac@atmuspay.com.br" target="_blank">sac@atmuspay.com.br</a>
								ou chat de atendimento de segunda a sexta das 09:00 às 17:00 (exceto feriados)
							</p>
						</div>
						<p style="font-family:Helvetica,Arial,sans-serif;font-size:12px;line-height:20px;color:#777777;padding:0;margin:33px 0 20px 0">
							Esse e-mail é enviado automaticamente, por favor não responda.
						</p>

					</td>
				</tr>
			</table>
		</td>
		<td style="font-size:0"><span></span></td>
	</tr>
</table>
